name: Validate OpenAPI Specification

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  validate:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Validate OpenAPI Specification
      uses: char0n/swagger-editor-validate@v1
      with:
        definition-file: openapi.json
    
    - name: OpenAPI Lint
      uses: stoplightio/spectral-action@v0.8.11
      with:
        file_glob: 'openapi.json'
